@model MotoPack_project.Models.Produto

@{
    ViewData["Title"] = "Produto";
}

<main class="container mt-5">

    <h2 class="text-center mb-4">@Model.Nome</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="p-4 bg-light rounded mb-3">
                <h5><strong>Descrição do produto</strong></h5>
                <p>@Model.Descricao</p>
            </div>

            <div class="p-4 bg-light rounded">
                <p><strong>Categoria:</strong> @Model.Categoria</p>
                <p><strong>Data de publicação:</strong> @Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")</p>
                <p><strong>Postado por:</strong> @Model.Utilizador?.Nome</p>

            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="position-relative">
                <img src="@Model.ImageUrl" class="img-fluid rounded" style="max-height: 250px;" alt="Imagem da peça" />
            </div>

            <div class="mt-4 d-flex align-items-center justify-content-between">
                <span class="fw-bold fs-5">Preço: @Model.Preco.ToString("0.00") €</span>

                <form asp-action="AdicionarAoCarrinho" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button class="btn btn-success px-4">Adicionar ao carrinho</button>
                </form>
            </div>
        </div>
    </div>
</main>
