@model MotoPack_project.Models.Registar

@{
    ViewData["Title"] = "Perfil do Utilizador";
}

<div class="container my-5">
    <div class="p-4 rounded" style="background-color: #e0e0e0; background-image: url('/imagens/fundo-componentes.jpg'); background-size: cover;">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="@Url.Content("~/imagens/default-profile.png")" alt="Foto de perfil" class="rounded-circle mb-3" width="120" height="120" />
                <h5>@Model.Nome</h5>

                <form method="post" enctype="multipart/form-data" class="mb-2">
                    <input type="file" name="NovaFoto" class="form-control" />
                    <button type="submit" class="btn btn-outline-secondary mt-2">Trocar foto</button>
                </form>

                <form asp-controller="Home" asp-action="Logout" method="post">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-danger mt-2">Log out</button>
                </form>
            </div>

            <div class="col-md-8">
                <h5>Nome</h5>
                <input type="text" class="form-control rounded-pill mb-3" value="@Model.Nome" readonly />

                <h5>Email</h5>
                <input type="email" class="form-control rounded-pill mb-4" value="@Model.Email" readonly />

                <h5>Produtos</h5>
                <div class="row">
                    <p>arroz</p>

                    <div class="col-md-4 mb-3">
                        <div class="card h-100 d-flex align-items-center justify-content-center">
                            <a class="btn btn-outline-dark fs-3">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
